[submodule "modbus.sh"]
	path = modbus.sh
	url = git@github.com:jyrimatti/modbus.sh.git
[submodule "spot"]
	path = spot
	url = git@github.com:jyrimatti/spot.git
[submodule "stiebel"]
	path = stiebel
	url = git@github.com:jyrimatti/stiebel.git
[submodule "skoda"]
	path = skoda
	url = git@github.com:jyrimatti/skoda.git
[submodule "ouman"]
	path = ouman
	url = git@github.com:jyrimatti/ouman.git


[submodule "openweathermap"]
	path = openweathermap
	url = git@github.com:jyrimatti/openweathermap.git
[submodule "harmony"]
	path = harmony
	url = git@github.com:jyrimatti/harmony.git
[submodule "homewizard"]
	path = homewizard
	url = git@github.com:jyrimatti/homewizard.git
[submodule "huawei"]
	path = huawei
	url = git@github.com:jyrimatti/huawei.git
[submodule "ping"]
	path = ping
	url = git@github.com:jyrimatti/ping.git
[submodule "speed"]
	path = speed
	url = git@github.com:jyrimatti/speed.git
[submodule "beny"]
	path = beny
	url = git@github.com:jyrimatti/beny.git
[submodule "diskstore"]
	path = diskstore
	url = git@github.com:jyrimatti/diskstore.git
[submodule "automower"]
	path = automower
	url = git@github.com:jyrimatti/automower.git
